#gitignore
.DS_Store
###
#ignore TS row files
ts_medium.txt
ts_small.txt
ts_large.txt

###
#ignore checkpoint files
python/.ipynb_checkpoints/
.ipynb_checkpoints/
python/__pycache__
__pycache__
row_function.txt
lar_generator.txt
edits_files
clean_files_log.txt
edit_reports